<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="MR\Grid\Api\Data\JobInterface"
                type="MR\Grid\Model\Grid"/>

    <preference for="MR\Grid\Api\Repository\JobRepositoryInterface"
                type="MR\Grid\Repository\JobRepository"/>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="mgrid_grid_list_data_source" xsi:type="string">MR\Grid\Model\ResourceModel\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="MR\Grid\Model\ResourceModel\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">mr_grid_jobs</argument>
            <argument name="resourceModel" xsi:type="string">MR\Grid\Model\ResourceModel\Grid</argument>
        </arguments>
    </virtualType>
    
</config>